@import "./mixin";
@import "./classes";
@import "./mediaquery";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;

  @media only screen and (max-width: 1000px) {
    font-size: 9px;
  }

  @media only screen and (max-width: 1152px) {
    font-size: 8px;
  }

  @media only screen and (max-width: 780px) {
    font-size: 9px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 7px;
  }
  @media only screen and (max-width: 550px) {
    font-size: 5px;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* HEADER*/
.container {
  width: var(--width-full);
  margin: var(--margin-auto);
  padding: 1rem 2rem;

  &__header {
    @include flexbox;
    justify-content: space-between;
    margin: 2rem auto;
    padding: 1rem 2rem;

    font-size: 1.6rem;

    &--logo {
      flex: 0 0 10%;
      @include flexbox;
      justify-content: flex-start;
      margin-left: 3rem;

      &-cir {
        height: 3.2rem;
        width: 3.2rem;
        background-color: var(--back-color-primary);
        border-radius: 50%;
        color: var(--text-white);
        font-weight: 700;

        @include grid-center;
      }

      &-text {
        margin-left: 0.8rem;
        font-weight: var(--bold-font);
        font-size: 1.8rem;
      }
    }

    &__nav {
      width: 50rem;
      @include flexbox;
      justify-content: space-evenly;
      align-self: flex-end;
      font-size: 1.6rem;
      border: none;

      &--items {
        text-decoration: none;
        font-weight: var(--lighter-font);
        color: var(--text-col-thirsary);
        cursor: pointer;

        &:first-child {
          color: var(--text-col-secondary);
          font-weight: var(--bold-font);
        }
        &:hover {
          color: var(--text-col-secondary);
        }
      }
    }

    @media only screen and (max-width: 780px) {
      width: 100vw;
      transform: translate(-12%, 20%);
    }
  }

  /*MAIN BODY*/
  .main {
    max-width: 144rem;
    margin: 2rem auto;
  }

  .healthcare {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      flex: 0 0 32%;
      padding: 1rem 2rem;
      margin-left: 3rem;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 2rem;

      @media only screen and (min-width: 960px) {
        flex: 0 0 40%;
        margin-left: 0;
        padding: 2rem 0;
      }

      &--header {
        font-size: 3.6rem;
        @media only screen and (max-width: 1392px) {
          font-size: 3.4rem;
        }
      }

      &--para {
        font-size: 1.7rem;
        font-weight: var(--lighter-font-2);
        color: var(--text-col-thirsary);
        line-height: 1.5;
      }

      &--button {
        padding: 1.5rem 4rem;
        border-radius: 3rem;
        border: none;
        color: var(--text-white);
        background-color: var(--back-color-primary);
        font-weight: var(--bolder-font);
        letter-spacing: 0.1rem;
        cursor: pointer;
        margin-top: 2rem;

        &:hover {
          background-color: var(--back-col-hov-1);
        }
      }
    }

    &__img {
      flex: 0 0 50%;

      &--img {
        width: 100%;
      }
    }
  }
}

/* SERVICES*/

.services {
  width: 100%;

  display: flex;
  flex-direction: column;
  &-info {
    &-h2 {
      text-align: center;
      font-size: 2.8rem;
      margin-top: 10rem;
      padding: 2rem 1rem;

      @include grid-center;
      &::after {
        content: "";
        width: 4%;
        border-bottom: 0.25rem solid black;
        margin-top: 1.5rem;
      }
    }
    &-para {
      width: 80%;
      margin: 0 auto;
      font-size: 1.6rem;
      text-align: center;
      padding: 1rem 4.5rem;
      line-height: 1.5;
      color: var(--text-col-thirsary);
    }
  }

  &__cards {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 3rem;
    row-gap: 3rem;
    margin-top: 8rem;

    &--card {
      flex: 0 0 30rem;
      padding: 4rem 2.5rem;
      border-radius: 2.1rem;
      border: none;
      box-shadow: 0 0 2rem rgb(224, 223, 223);

      display: flex;
      flex-direction: column;
      gap: 2rem;

      &--icon {
        height: 8rem;
        width: 6.5rem;
        margin-bottom: 2rem;
      }

      &--heading {
        font-size: 2.4rem;
      }

      &--info {
        font-size: 1.6rem;
        color: var(--text-col-thirsary-2);
        font-weight: var(--lighter-font-3);
      }
    }
  }

  &__btn {
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: var(--lighter-font);
    color: var(--back-color-primary);
    border: 0.2rem solid var(--back-color-primary);
  }
}

.leading-btn {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: var(--lighter-font);
  color: var(--back-color-primary);
  border: 0.2rem solid var(--back-color-primary);
  background-color: inherit;

  @include grid-center;
}

.download-section {
  margin-top: 5rem;
}

.icon {
  height: 100%;
  width: 100%;
}

.margin {
  margin: 4rem 0 7rem 0;
}

.margin-2 {
  margin: 17rem 0;
}

/*SLIDER*/
.slider__container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 100vw;
}
.slider {
  flex: 0 0 100%;
  margin: 0 auto 5rem auto;
  padding: 7.5rem 3rem;
  border-radius: 1.5rem;
  color: var(--text-white);

  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);

  display: grid;
  place-items: center;
  &__items {
    width: 80%;

    &--header {
      &--h2 {
        text-align: center;
        font-size: 2.2rem;
        padding: 0.5rem;

        &:after {
          content: "";
          width: 10%;
          border-bottom: 0.25rem solid var(--text-white);
          margin: 2rem auto;
          display: block;
        }
      }
    }
  }

  // info
  &__info {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    margin-top: 1.2rem;

    &--img {
      width: 16rem;

      &--photo {
        width: 100%;
      }
    }

    &--author {
      width: 40%;
      padding: 0.8rem;

      &--name {
        font-size: 1.8rem;
        color: var(--text-white);
        font-weight: var(--lighter-font);
      }

      &--info {
        font-size: 1.4rem;
        margin-top: 1rem;
      }
    }

    &--para {
      width: 60%;

      &--info {
        font-size: 1.6rem;
        align-items: center;
        line-height: 1.6;
      }
    }
  }
}

.slider-bar {
  width: 80vw;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  color: var(--lin-grad-col-1);

  &--items {
    flex: 0 0 2rem;
    height: 2rem;
    font-size: 3rem;
    font-weight: var(--bolder-font);
    cursor: pointer;

    display: flex;
    gap: 0.8rem;
    align-items: center;

    &_cir {
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      background-color: var(--lin-grad-col-1);
      border: none;
      &:hover {
        background-color: var(--lin-grad-col-2);
        cursor: pointer;
      }
    }
  }
}

.active {
  color: var(--lin-grad-col-2);
}

.active--dot {
  background-color: var(--lin-grad-col-2);
}

// LATEST

//COMMON CLASSES
.margin-both {
  margin-top: 20rem;
}

.latest__btn {
  margin: 7rem auto;
  cursor: pointer;
  font-weight: var(--bolder-font-2);
}

.text__center {
  width: 100%;
  margin: 0 auto;

  text-align: center;

  &--h2 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0.5rem;
    font-weight: var(--bold-font);

    &:after {
      content: "";
      width: 5%;
      border-bottom: 0.25rem solid black;
      margin: 2rem auto;
      display: block;
    }
  }
}
.latest__card {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.latest__cards {
  flex: 0 0 30rem;
  border-radius: 1rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 0.1rem 2rem rgb(220, 218, 218);

  @media only screen and (max-width: 1260px) {
    margin: 0 3.5rem;
  }

  @media only screen and (max-width: 813px) {
    flex: 0 0 40rem;
    margin: 2.5rem 3.5rem;

    .latest__cards:last-child {
      display: block;
    }
  }

  &--img {
    width: 100%;
    height: 24rem;
    background-color: white;

    &--photo {
      height: 100%;
      width: 100%;
    }
  }

  &--info {
    margin: 2rem;
    padding: 1rem;

    &--header {
      font-size: 2.2rem;
    }

    &--para {
      margin: 1.5rem 0;
      font-size: 1.6rem;
      color: var(--text-col-thirsary);
      line-height: 1.6;
      font-style: normal;
    }

    &--link {
      margin-top: 2.5rem;
      text-decoration: none;
      font-size: 1.6rem;
      color: var(--back-color-primary);
      display: block;
    }
  }

  &:last-child {
    @media only screen and (max-width: 1260px) {
      display: none;
    }
  }
  &:last-child {
    @media only screen and (max-width: 813px) {
      display: block;
    }
  }
}

// FOOTER

.footer {
  width: 100vw;
  padding: 10rem 0;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  &__container {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    &--logo {
      width: 30vw;
      &--icon {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &-cir {
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          background-color: white;
          color: var(--back-color-primary);
          font-size: 1.8rem;
          font-weight: var(--bolder-font-2);

          display: grid;
          place-items: center;
        }

        &--text {
          font-size: 2.4rem;
          font-weight: var(--lighter-font);
          color: white;
        }
      }
    }
    &--para {
      font-size: 1.6rem;
      margin-top: 2rem;
      color: var(--text-white);
      line-height: 1.8;
    }

    &--copyright {
      margin-top: 4rem;
      font-size: 1.4rem;
      color: var(--text-white);
    }
  }
}

.company,
.region,
.help {
  width: 20%;
  color: white;

  &__header {
    font-size: 2rem;
  }

  &__list {
    list-style: none;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.6;

    &:hover {
      cursor: pointer;
    }
  }
}
