:root {
  // COLOR
  --text-white: #fff;
  --text-col-secondary: #1f1534;
  --text-col-thirsary: #726f77bd;
  --text-col-thirsary-2: #7d7987;

  // BACKGROUND COLOR
  --back-color-primary: #458ff6;
  --back-color-white: whitesmoke;

  // FONT WEIGHT
  --bolder-font: 700;
  --bolder-font-2: 600;
  --bold-font: 550;
  --lighter-font: 500;
  --lighter-font-2: 400;
  --lighter-font-3: 300;

  // HOVER
  --back-col-hov-1: #6098e6;

  // WIDTH
  --width-full: 80vw;

  // MARGIN
  --margin-auto: 0 auto;

  // LINEAR GRADIEND
  --lin-grad-col-1: #87d1f9;
  --lin-grad-col-2: #339fd8;
}
